<!--  The html site for submitting artist into the genres -->

<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org"> 
	<head>
		<title>Music Site</title>
		<meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />
		
	</head>
	
	<body>
		<h1>REST Guide</h1>
		
		<p>
		You can view object data as JSON format with the following URLS:
		<ul>
			<li>http://localhost:8080/albums - To view all albums as JSON file.</li>
			<li>http://localhost:8080/album/# - To view a specific album as JSON file (# = id for album)</li>
		</ul>
		</p>
		
    <a href="/start"><button>Return to Front Page</button></a>
    
	</body>
</html>